<div class="mdt-header"
     layout="row"
     layout-align="start center"
     ng-show="isTableCardEnabled">
    <span>
      {{tableCard.title}}
    </span>

    <md-button class="md-icon-button"
               ng-if="$parent.mdtActions.add"
               ng-click="$parent.mdtActions.add()">
        <md-icon style="font-size: 24px">add</md-icon>
    </md-button>

    <md-button class="md-icon-button"
               ng-repeat="action in $parent.mdtActions.addActions"
               ng-click="action.callback()">
        <md-icon style="font-size: 24px">{{action.icon}}</md-icon>
    </md-button>

    <div flex></div>

    <md-button ng-if="$parent.isSelectableRowsEnabled()"
               ng-repeat="action in $parent.mdtActions.selectionActions"
               ng-disabled="!$parent.dataStorage.isAnyRowSelected()"
               ng-click="action.callback($parent.dataStorage.getSelectedRows())"
               class="md-icon-button md-raised md-primary">
        <md-icon style="font-size: 24px">{{action.icon}}</md-icon>
    </md-button>
    <md-button class="md-icon-button md-raised md-primary"
               ng-if="$parent.isSelectableRowsEnabled() && $parent.mdtActions.delete"
               ng-disabled="!$parent.dataStorage.isAnyRowSelected()"
               ng-click="delete()">
        <md-icon style="font-size: 24px">delete</md-icon>
    </md-button>
    <md-button class="md-icon-button"
               ng-if="$parent.mdtActions.delete || $parent.mdtActions.selectionActions"
               ng-class="{'md-raised':$parent.isSelectableRowsEnabled()}"
               ng-click="$parent.toggleSelectableRows()">
        <md-icon style="font-size: 24px">settings</md-icon>
    </md-button>
    <a ui-sref="^">
        <md-icon ng-bind="'close'"
                 style="font-size: 24px"></md-icon>
    </a>

    <md-menu ng-if="$parent.mdtAdditionalActions.length > 0">
        <md-button ng-click="$mdMenu.open($event)"
                   class="md-icon-button"
                   aria-label="Additional actions">
            <md-icon ng-bind="'more_vert'"
                     action-name="{{action.icon}}"
                     style="font-size: 24px"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item ng-repeat="action in $parent.mdtAdditionalActions">
                <md-button ng-click="action.callback()"
                           ng-href="{{action.getActionHref()}}"
                           download="{{action.getActionDownloadFileName()}}"
                           action-name="action.label"
                           ng-disabled="action.isActionDisabled()">
                    <md-icon ng-bind="action.icon"
                             style="font-size: 24px"></md-icon>
                    <span ng-bind="action.label"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <!-- columnSelectorFeature -->
    <md-button class="md-icon-button md-primary mdt-column-chooser-button"
               aria-label="Choose columns"
               ng-if="::columnSelectorFeature.isEnabled"
               ng-click="handleColumnChooserButtonClick()">
        <ng-md-icon icon="settings"
                    size="24"></ng-md-icon>
    </md-button>

    <mdt-column-selector ng-if="columnSelectorFeature.isEnabled && columnSelectorFeature.isActive"></mdt-column-selector>
</div>
